body {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    
}

.atelier {
    text-align: center;
    width: 100%;
}

.bouquin {
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    border-radius: 5px;
    margin: auto;
    padding: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

.bouquin:hover {
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2);
  }

.titre {
    font-size: 1em;
    font-weight: bold;
}

img {
    height: 15rem;
}
